.background {
}

.modal {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 44rem;
  height: 31rem;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: var(--card-primary-color);
  color: #000;
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 10;
  border-radius: 10px;
}
/* Modal content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}
/* Close button */
.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 720px) {
  .modal {
    width: 31rem;
  }
}
