.card {
  background: var(--card-primary-color);
  max-height: 10rem;
  min-height: 9rem;
  min-width: 7rem;
  max-width: 10rem;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  transition: 0.2s;
  color: var(--on-primary-color);
}
.card:not(:first-child) {
  margin-left: -2rem;
}
.card:not(:last-child):hover,
.card:not(:last-child):focus-within {
  transform: translateY(-1rem) rotate(-5deg);
}
.card:not(:last-child):focus-within ~ .card {
  transform: translateX(2rem);
}
.card:not(:last-child):hover ~ .card {
  transform: translateX(2rem);
}
