html,
body {
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-size);
  background-color: var(--background-primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
