.card-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.card-title>span {
  color:var(--main-background-primary-color)
}

.card-tags {
  overflow-x: hidden;
  overflow-y: hidden;
}

.card-tags>span {
  padding: 0 var(--base);
  margin: var(--base);
  font-weight: bold;
  color:var(--background-primary-color);
  border: var(--card-button-primary-color) var(--base) solid;
  border-radius: var(--base);
  background-color: var(--card-button-primary-color);
}

.mark-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--m);
}

.mark-modal-content{
  padding: var(--m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mark-modal-select{
  width: 10rem;
  justify-content: center;
}

.mark-modal-select>div{
  background-color: var(--main-background-primary-color);
}

.mark-modal-select>div{
  border: none;
}

.mark-modal-select>div>div>div{
  background-color: var(--main-background-primary-color);
}

.mark-modal-form-div{
  display: flex;
  flex-direction: column;
}

.mark-modal-form-div>input{
  height: 2rem;
  width: 15rem;
  background-color: var(--main-background-primary-color);
  border-radius: 0.5rem;
  color: var(--on-primary-color);
  padding: 0 var(--m);
}

.mark-modal-form-a{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--m);
}

.mark-modal-form-a-input {
  margin: var(--m);
}

.mark-modal-form-a>a{
  text-decoration: none;
  color: var(--main-background-primary-color);
}

.mark-modal-form-a>a:hover{
  filter: brightness(120%);
  transform: translateY(-3px);
}

.mark-modal-edit-buttons {
  margin: var(--m);
}

.mark-modal-edit-button {
  margin: var(--s);
}

.edit {
  color: var(--primary-color);
  margin: 0.75rem;
  zoom: 110%;
}

.edit:hover {
  filter: brightness(180%);
  transform: translateY(-3px);
}

.trash {
  color: darkred;
  margin: 0.75rem;
  zoom: 110%;
}

.trash:hover {
  filter: brightness(180%);
  transform: translateY(-3px);
}

.ReactTags :global {
  /* Example Styles for React Tags*/
  /* Styles for the input */
  /* Styles for selected tags */
  /* Styles for suggestions */
}
.ReactTags :global .app {
  padding: 40px;
  text-align: center;
}
.ReactTags :global .container {
  margin: auto;
  width: 50%;
}
.ReactTags :global .ReactTags__tags {
  position: relative;
}
.ReactTags :global .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
.ReactTags :global .ReactTags__tagInput input.ReactTags__tagInputField, .ReactTags :global .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  border: 2px solid var(--on-primary-color);
  border-radius: var(--s);
  color: var(--on-primary-color);
  background-color: var(--main-background-primary-color);
  min-width: 150px;
}
.ReactTags :global .ReactTags__editInput {
  border-radius: 1px;
}
.ReactTags :global .ReactTags__editTagInput {
  display: inline-flex;
}
.ReactTags :global .ReactTags__selected span.ReactTags__tag {
  border: 1px solid var(--on-primary-color);;
  background: var(--main-background-primary-color);
  color: var(--on-primary-color);
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: var(--s);
}
.ReactTags :global .ReactTags__selected span.ReactTags__tag:first-child {
  margin-left: 0px;
}
.ReactTags :global .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}
.ReactTags :global .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}
