.mark-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--m);
}

.mark-modal-content{
  padding: var(--m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mark-modal-select{
  width: 10rem;
  justify-content: center;
  color: var(--on-primary-main-color);
}

.mark-modal-select>div{
  background-color: var(--main-background-primary-color);
}

.mark-modal-select>div{
  border: none;
}

.mark-modal-select>div>div>div{
  background-color: var(--main-background-primary-color);
}

.mark-modal-form-div{
  display: flex;
  flex-direction: column;
}

.mark-modal-form-div>label{
  color: var(--on-primary-color);
}

.mark-modal-form-div>input{
  height: 2rem;
  width: 15rem;
  background-color: var(--main-background-primary-color);
  border-radius: 0.5rem;
  border: 2px solid var(--on-primary-main-color);
  color: var(--on-primary-main-color);
  font-weight: bold;
  padding: 0 var(--m);
}

.mark-modal-create-button {
  margin: var(--m);
}

.ReactTags :global {
  /* Example Styles for React Tags*/
  /* Styles for the input */
  /* Styles for selected tags */
  /* Styles for suggestions */
}
.ReactTags :global .app {
  padding: 40px;
  text-align: center;
}
.ReactTags :global .container {
  margin: auto;
  width: 50%;
}
.ReactTags :global .ReactTags__tags {
  position: relative;
}
.ReactTags :global .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
.ReactTags :global .ReactTags__tagInput input.ReactTags__tagInputField, .ReactTags :global .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: var(--m) 0 ;
  font-size: 12px;
  border: 2px solid var(--on-primary-main-color);
  border-radius: var(--s);
  color: var(--on-primary-main-color);
  font-weight: bold;
  background-color: var(--main-background-primary-color);
  min-width: 150px;
}
.ReactTags :global .ReactTags__editInput {
  border-radius: 1px;
}
.ReactTags :global .ReactTags__editTagInput {
  display: inline-flex;
}
.ReactTags :global .ReactTags__selected span.ReactTags__tag {
  border: 1px solid var(--on-primary-main-color);
  background: var(--main-background-primary-color);
  color: var(--on-primary-main-color);
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: var(--s);
}
.ReactTags :global .ReactTags__selected span.ReactTags__tag:first-child {
  margin-left: 0px;
}
.ReactTags :global .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}
.ReactTags :global .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: var(--on-primary-main-color);
  font-weight: bold;
}

