
.main-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--main-background-primary-color);
  height: 100%;
  margin: 0 var(--xl);
  border-radius: 1rem 1rem 0 0;
}

.card-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: calc(100vw - 30rem);
  padding: 1.5rem 3rem;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: var(--card-button-primary-color);
  border-radius: 10px;
}

.folder-delete-modal {
  margin: var(--m);
}

.exclamation-triangle {
  margin: 6rem 0 var(--m) 0;
  color: yellow;
  zoom: 150%;
}

.form-error {
  padding: var(--s);
}

.form-error>span {
  color: #d93025;
}

.exclamation-circle {
  margin-right: var(--s);
  color: #d93025;
}

@media (max-width: 720px) {
  .main-div{
    margin: 0 var(--m);
  }

  .card-list {
    max-width: calc(100vw - 17rem);
    padding: 1.5rem 1rem;
  }
}
