.login-container {
  align-self: center;
  margin-top: 5rem;
  border: var(--main-background-primary-color) var(--m) solid;
  width: 22rem;
  height: 25rem;
  border-radius: var(--m);
}

.login-container>form {
  padding: var(--m);
  height: 100%;

}

form .form-inner{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
}

form .form-inner .form-group {
  display: flex;
  flex-direction: column;
}

form .form-inner .form-group label {
  padding: var(--s);
  color: var(--on-primary-color);
}

form .form-inner .form-group input {
  padding: var(--s);
  border-radius: var(--s);
  background-color: var(--main-background-primary-color);
  color: var(--on-primary-main-color);
  border: 2px solid var(--card-button-primary-color);
  font-weight: bold;
}

.pass-margin {
  margin-bottom: var(--s);
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: var(--xl);
  margin-right: var(--xl);
}

.title {
  color: var(--on-primary-color);
}

.input-submit {
  /*appearance: none;*/
  background-color: var(--button-background);
  color: var(--button-text);
  padding: var(--m);
  border-radius: var(--radius);
  font-size: inherit;
  border: 1px solid var(--gray-color-900);
  transition: 0.5s ease transform;
  --button-background: var(--primary-color);
  --button-text: var(--on-primary-color);
}

.input-submit:hover {
  filter: brightness(120%);
  transform: translateY(-3px);
}

.register-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--l);
}

.register-modal-content{
  padding: var(--m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-modal-form-div{
  display: flex;
  flex-direction: column;
}

.register-modal-form-div>label{
  color: var(--on-primary-color);
}

.register-modal-form-div>input{
  height: 2rem;
  width: 15rem;
  background-color: var(--main-background-primary-color);
  border-radius: 0.5rem;
  color: var(--on-primary-main-color);
  border: 2px solid var(--on-primary-main-color);
  font-weight: bold;
  padding: 0 var(--m);
}

.register-modal-button {
  display: flex;
  justify-content: center;
  margin: var(--l);
}

.form-error {
  padding: var(--s);
}

.form-error>span {
  color: var(--on-primary-color);
}

.exclamation-circle {
  margin-right: var(--s);
  color: #d93025;
}

@media (max-width: 720px) {
  .register-modal-form-div>input{
    height: 2rem;
    padding: 0 var(--s);
  }
}
